{% extends "base.html.twig" %}

{% block main %}
<h1>Contact Us</h1>

<p>
    <strong>Phone:</strong>
    <br>
    +1 (123) 456-7890
</p>

<p>
    <strong>Email:</strong>
    <br>
    email@symfonyapp.com
</p>

<hr>

<h2>Contact Form</h2>

{{ form_start(form) }}
    <div id="contact-email-field">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {"attr": {"placeholder": "Email"}}) }}
        {{ form_errors(form.email) }}
    </div>

    <div>
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {"attr": {"placeholder": "Name"}}) }}
        {{ form_errors(form.name) }}
    </div>

    <div>
        {{ form_label(form.body) }}
        {{ form_widget(form.body, {"attr": {"placeholder": "Body"}}) }}
        {{ form_errors(form.body) }}
    </div>

    <input class="submit button green" type="submit" value="Submit">
{{ form_end(form) }}
{% endblock %}